# Latest working requirements of your package, should be ahead of pyproject.toml.
dill==0.3.7
# ? Already specified in `requirements_core.txt`
# dulwich
gmpy2==2.1.5
IPython[notebook]==8.16.1
matplotlib==3.8.0
numpy==1.26.1
pandas[hdf5,performance]==2.1.1
pandas-stubs~=2.1.1
ploomber-engine==0.0.31
pydantic==1.10.12
# ? Already specified in `requirements_both.txt`
# pytest
ruamel.yaml==0.17.39
scipy==1.11.3
sympy==1.12
uncertainties==3.1.7
