# Latest working requirements of your package, should be ahead of pyproject.toml.
ploomber-engine==0.0.30
pydantic==1.10.12
ruamel.yaml==0.17.32
scipy==1.11.1
# Numba only supports numpy<1.25 https://github.com/numba/numba/issues/8698
# ! Unpin numba once it supports numpy>=1.25
numba==0.57.1
numpy==1.24.4
