# Requirements for dev environments.

# * -------------------------------------------------------------------------------- * #
# * Changes below should persist in significant template updates.

# ? Install tests package so modules can be run in debugging
tests/.

# * -------------------------------------------------------------------------------- * #
# * Changes below may be lost in significant template updates.

-r requirements_both.txt
